.feed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.feed_post {
    padding: 2vw;
    padding-bottom: 1vw;
    padding-top: 8vw;
    background-position: center center;
    margin-right: 1vw;
    position: relative;
    flex: 1 3;
}

.feed_post:nth-child(1) {
    background-image: url("https://assets.laut.fm/e1d6bde4572a8adb921bb70b0655e918");
    background-size: cover;
    border-radius: 20px;
}

.feed_post:nth-child(2) {
    background-image: url("../Images/2010.jpg");
    background-size: cover;
    border-radius: 20px;
}

.feed_post:nth-child(3) {
    background-image: url("../Images/hot20.jpg");
    background-size: cover;
    border-radius: 20px;
}

.feed_post:before {
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,transparent 30%,#151414 100%);
}

.feed_post h2, .feed_post p {
    text-shadow: 0 0 15px #000;
    position: relative;
}

@media screen and (max-width: 767px) {
    .feed {
        overflow: hidden;
        overflow-x: scroll;
    }

    .feed_post {
        width: 60vw;
        height: 40vw;
    }

    .feed_post h2 {
        font-size: 5.5vw;
    }
}