.section_title {
    padding: 1vw 0;
}

.song_history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.lastsongs_next {
    border: 2px solid #fff;
    border-radius: 50px;
    position: sticky;
    z-index: 2;
    width: fit-content;
    height: 50px;
    right: 0;
    padding: 1vw;
    display: flex;
    align-items: center;
}

.lastsong_cover {
    border-radius: 20px;
    width: 11.5vw;
    height: 11.5vw;
    padding: 1vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    align-content: flex-end;
    background-color: #292926;
    margin-right: 1vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
}

.lastsong_cover:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent 30%, #151414 100%);
}

.song_meta {
    padding: 0.2vw 1vw;
}

.song_meta_time {
    z-index: 0;
}

@media screen and (min-width: 767px) {
    .lastsongs:before {
        content: '';
        display: block;
        position: absolute;
        width: 15%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 1;
        background: linear-gradient(to right, transparent 0%, #151414 100%);
    }
}

@media screen and (max-width: 767px) {
    .section_title {
        font-size: 7vw;
        padding-bottom: 4vw;
    }
    .section_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .lastsong {
        display: flex;
        align-items: center;
        width: 100%;
        padding-bottom: 4vw;
    }
    .song_history {
        display: block;
    }
    .lastsongs_next {
        bottom: -5vw;
        padding: 1vw 4vw;
        left: auto;
        right: auto;
    }
    .name {
        width: 100%;
        padding: 0.5vw 1vw;
    }
    .lastsong_cover {
        width: 30vw;
        height: 30vw;
    }
}