.schedule_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.now_onair, .next_onair {
    flex: 1 1;
}

.on_air, .now_onair, .next_onair {
    width: fit-content;
}

.on_air *, .now_onair *, .next_onair * {
    line-height: 1.8em;
}

.dj_block {
    background-color: #1957ea;
    padding: 1vw;
    border-radius: 15px;
}

.dj_name {
    font-size: 1.35vw;
}

.dj_time {
    font-size: 1.5vw;
}

@media screen and (max-width: 767px) {
    .on_air {
        display: block;
    }
    h2 {
        font-size: 7vw;
    }
    .dj_block {
        padding: 2vw;
    }
    .next_onair {
        display: none;
    }
    .dj_name {
        font-size: 4.5vw;
    }
    .dj_time {
        font-size: 5.5vw;
    }
}