.on_air {
    display: flex;
}

.on_air, .next_onair {
    flex: 1;
    flex-wrap: wrap;
    padding: 1vw;
}

h2 {
    font-size: 2vw;
}

.on_air *, .next_onair * {
    width: 100%;
    line-height: 1.8em;
}

@media screen and (max-width: 767px) {
    .on_air {
        display: block;
    }
    
    h2 {
        font-size: 7vw;
    }
}