* {
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  outline: 0;
  position: relative;
}

body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #151414;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.body {
  padding: 2vw 0 0 4vw;
}

p {
  font-size: 1.2vw;
}

h2 {
  font-size: 2.2vw;
}

a {
  text-decoration: none;
}

.nav_content a {
  width: 100%;
}

.header_logo {
  flex: 2;
}

.header_desktop_nav a {
  color: #fff;
}

h1 {
  font-size: 3.5vw;
}

.desktop_logo {
  height: 15vh;
}

section {
  padding-bottom: 1vw;
}

.volume {
  position: relative;
  width: 100%;
  margin: 2.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
  opacity: 0;
  transition: opacity .3s;
  cursor: pointer;
}

.volume:hover {
  opacity: 1;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #ff6000;
  cursor: pointer;
  border-radius: 50px;
}

.volume::-moz-range-thumb {
  border-radius: 50px;
  background-color: #ff6000;
}

footer {
  padding: 2vw;
}

@media screen and (min-width: 767px) {
  .body {
    width: calc(100% - 20vw);
  }
  header {
    padding: 1vw 2vw;
    box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.04), 0px 8px 8px 0px rgba(0, 0, 0, 0.04);
    position: sticky;
    top: 0;
    height: 100vh;
    width: 20vw;
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 1;
  }
  .mobile_logo {
    display: none;
  }
  .mobile_description {
    display: none;
  }
  #root {
    display: flex;
  }
  .nav_content {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 75vh;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #ff6000
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
}

@media screen and (max-width: 767px) {
  .body {
    padding: 0;
  }
  h1 {
    font-size: 7vw;
  }
  p {
    font-size: 5vw;
  }
  section {
    padding-bottom: 3vw;
  }
  header {
    position: sticky;
    z-index: 1;
  }
  .header.active {
    height: 100vh;
    background: #000;
  }
  .mobile_header {
    padding: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktop_logo {
    display: none;
  }
  .burger {
    width: 30px;
    height: 30px;
  }
  .burger:hover {
    cursor: pointer;
  }
  .burger.active .burger_line {
    transition: all .2s;
    background-color: transparent;
  }
  .burger.active .burger_line::before {
    transform: rotate(-135deg);
    top: 0;
    left: -2px;
    width: 30px;
  }
  .burger.active .burger_line::after {
    transform: rotate(135deg);
    top: 0;
    left: -2px;
    width: 30px;
  }
  .nav_content.active {
    display: block;
    position: absolute;
    background: #000;
    z-index: 999;
    width: 100%;
    height: calc(100vh - 45vw);
    display: flex;
    flex-wrap: wrap;
    align-items: center
  }
  .nav_content.active * {
    width: 100%;
    padding-left: 2vw;
  }
  .burger_line {
    top: 50%;
    width: 26px;
    position: absolute;
    background: #fff;
    height: 2px;
    transform: translateY(-50%);
  }
  .burger_line:before, .burger_line:after {
    position: absolute;
    width: 26px;
    transition: all .2s;
    height: 2px;
    background-color: #fff;
    min-height: 2px;
    content: "";
    display: block;
    transform: translateX(0);
  }
  .burger_line:before {
    top: -6px;
  }
  .burger_line:after {
    width: 60%;
    top: 6px;
  }
  .nav_content {
    display: none;
  }
  .header_logo h1 {
    font-size: 9vw;
    margin: 4.5vw 0;
  }
  .hero_title h2 {
    font-size: 10vw;
  }
  .hero_img {
    display: none;
  }
}